@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Iran-Yekan";
  src: "../fonts/B_Yekan/Yekan.ttf";
}

body {
  font-family: "Iran-Yekan";
  direction: rtl;
}

/* menu */
.custom-menu {
  position: relative;
  padding: 0.2rem 0;
}
.custom-menu::after {
  content: "";
  position: absolute;
  /* width: 0; */
  height: 1px;
  background: #ea580c;
  bottom: 0;
  right: 0;
  transition: 0.3s ease-in;
}
